<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
 <div class='top-message col-md-offset-3 col-md-6' data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn" >
    <h1>welcome to <p class='glyphicon glyphicon-book'></p><strong>Bookers</strong>  !!</h1>
          <h4>In <p class='glyphicon glyphicon-book'></p><strong>Bookers</strong>, </h4>
          <p>you can share and exchange  your opinions , inpressions , and emotions</p>
          <p> about various books!</p>

<div class="btn-wrapper">
      <div class="row">
         <p><a class="btn btn-info col-xs-10 col-xs-offset-1 sign_in" href="/users/sign_in">Log in</a></p>
      </div>
      <div class="row">
        <p><a class="btn btn-success col-xs-10 col-xs-offset-1 sign_up" href="/users/sign_up">Sign Up</a></p>
      </div>
    </div>
</div>
</body>
</html>
